/* Estrutura */
.inputContainer {
    position: relative;
}

.input {
    border: 0;
    border-bottom: 2px solid #9e9e9e;
    outline: none;
    transition: 0.2s ease-in-out;
    box-sizing: border-box;
}

.label {
    top: 0;
    left: 0;
    right: 0;
    color: #fefefe;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 1rem;
    cursor: text;
    transition: 0.2s ease-in-out;
    box-sizing: border-box;
}

.input,
.label {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
}

/* Interation */
.input:valid,
.input:focus {
    border-bottom: 2px solid #fefefe;
    height: 100%;
}

.input:valid + .label,
.input:focus + .label {
    color: #fefefe;
    font-size: 1.2rem;
    top: -30px;
    pointer-events: none;
}

.section {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 0 0 2px 2px;
    width: 18rem;
    border-radius: 15px;
}
