.inputBody {
    width: 20rem;
    height: 3rem;
    display: flex;
    gap: 0;
    background: none;
    outline: none;
}

.actualInput {
    position: relative;
    width: 70%;
    height: 100%;
    background-color: #fefefe;
    outline: none;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.sideIcon {
    padding: 1rem auto;
    text-align: center;
    font-size: 20px;
    color: #3d94ff;
    font-weight: 400;
    width: 15%;
    background: #fefefe;
    height: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.label {
    background-color: transparent;
    text-align: center;
    top: 1rem;
    left: 3%;
    position: fixed;
    width: 3rem;
    height: 2rem;
    font-size: 20px;
}

.actualInput:focus+.label {
    margin-top: -1.5rem;

}

.actualInput:focus {
    border: 2px solid #435923;
}