.inputBody {
    width: 20rem;
    height: 3rem;
    display: flex;
    gap: 0;
    background: none;
    outline: none;
}

.actualInput {
    position: relative;
    width: 70%;
    height: 100%;
    background-color: #fefefe;
    outline: none;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.icon {
    margin-top: 25%;
    font-size: 28px;
    background-color: transparent;
}

.sideIcon {
    padding: 1rem auto;
    text-align: center;
    color: #3d94ff;
    font-weight: 400;
    width: 15%;
    background: #fefefe;
    height: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.label {
    background-color: transparent;
    text-align: center;
    margin-left: 2.5rem;
    position: fixed;
    width: 3rem;
    z-index: 10;
    height: 2rem;
    font-size: 24px;
}

.actualInput:focus+.label {
    margin-top: -1.5rem;
    background-color: #fefefefe;
}

.actualInput:focus {
    border-top: 2px solid #3d94ff;
    border-right: 2px solid #3d94ff;
    border-bottom: 2px solid #3d94ff;
}